@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');

* {
    font-family: "Poppins", sans-serif;
    -webkit-user-drag: none;
    word-wrap: break-word;
    user-select: none;
    outline: none;
    border: none;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.scrollable-element {
    scrollbar-width: none;
}

.scrollable-element {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

::placeholder {
    font-size: 18px;
    color: #3b763a;
}

.overview {
    background: #e8f5e9;
    color: #1b5e20;
}

.information {
    background: #b2e0b2;
    color: #1b5e20;
}

.overview,
.information {
    padding: 10vh 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

img {
    border: 2px solid #4caf50;
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    object-position: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

span {
    font-weight: bold;
    font-size: 32px;
}

.social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.social a {
    opacity: 0.5;
    padding: 5px;
    font-size: 23px;
    color: #2e7d32;
    text-decoration: none;
}

.social a:hover {
    opacity: 1;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
}

p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

@media (max-width: 530px) {
    .row {
        flex-wrap: wrap;
    }

    .social {
        display: flex;
        justify-content: space-between;
    }

    .social a {
        margin-right: 0;
    }
}
